nav, #nav-bar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #d3bcf79a;
    padding: 20px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  nav li {
    list-style: none;
    margin-left: 20px;
  }
  
  nav li a {
    text-decoration: none;
    color: #6a6a6a;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px 15px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
  }
  
  nav li a:hover {
    background-color: #f5f5f5;
  }
  
  nav li:nth-child(4) a {
    background-color: #8b3dff;
    color: #fff;
  }
  
  nav li:nth-child(4) a:hover {
    background-color: #7528d9;
  }

  #search-input{
    padding: 10px;
    box-align:center;
    border-radius: 20px;
    border:none;
  }

  #search-input:hover {
    background-color: #f5f5f5;
  }