/* Reset and basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 91vh;
    background-color: #b484fd44;
    padding: 20px;
  }
  
  .login-card {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #ffffff00;
    border-radius: 30px;
  }
  
  .login-card h2 {
    font-size: 24px;
    color: #8b3dff;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }
  
  .input-field:focus {
    border-color: #8b3dff;
    outline: none;
  }
  
  .error {
    color: #ff5252;
    font-size: 12px;
  }
  
  button.submit-button {
    margin-top: 20px;
    width: 100%;
    background-color: #8b3dff;
    color: #fff;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button.submit-button:hover {
    background-color: #7528d9;
  }
  