.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
  }
  
  .login-container form {
    width: 300px;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  .login-container mat-form-field {
    width: 100%;
  }
  
  .login-container button {
    width: 100%;
    margin-top: 20px;
  }