.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d3bcf73d;
  padding: 20px; /* Add padding to prevent edge touching */
  box-sizing: border-box; /* Include padding in element's total width/height */
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  gap: 20px;
  max-width: 1200px; /* Set a max width to prevent overflow */
  margin: 0 auto; /* Center the grid on the page */
  width: 100%;
  box-sizing: border-box;
}

.product-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s;
  background-color: #fff;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card h2 {
  font-size: 16px;
  margin-bottom: 8px;
}

.product-card h3 {
  font-size: 14px;
  margin-bottom: 8px;
  color: #666;
}

.product-images {
  width: 100%;
  height: 150px;
  margin: 10px auto;
}

.product-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.filter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  text-align: center;
}

.filter-options {
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
}

.filter-options input {
  margin-right: 5px;
}

.filter-options label {
  margin-right: 15px;
}

a {
  text-decoration: none;
  color: inherit;
}
