.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;
}

.signup-container mat-card {
  max-width: 400px;
  width: 100%;
  padding: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.signup-container mat-form-field {
  width: 100%;
}

.signup-container button {
  width: 100%;
  margin-top: 20px;
  color: #8b3dff ;
  padding: 20px 20px;
}
