<div class="payment-container">
  <div class="product-buy-container">
    <div class="product-image">
      <img [src]="productImage" alt="{{ productName }}">
    </div>

    <div class="buy-control">
      <h2>Product: {{ productName }}</h2>
      <h2>Price: {{ productPrice | currency:'INR' }}</h2>
      <div class="quantity-control">
        <button (click)="decrement()">-</button>
        <span>{{quantity}}</span>
        <button (click)="increment()">+</button>
      </div>
      <h2>Total Price: {{totalPrice | currency:'INR'}}</h2>
      <button (click)="onPaymentSubmit()" class="buy-now">Buy Now</button>
    </div>
  </div>
</div>

<footer>
  <p>&copy; 2024 shopkaro. All rights reserved.</p>
</footer>
