.profile-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
  }
  
  .profile-container h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .profile-container #txt2 {
    color: #7528d9;
    margin-bottom: 20px;
  }
  